*~
*.bak
*.swp
.DS_Store
.idea
/composer.bat
/var
/vendor
/web/*
!/web/assets
!/web/office
!/web/.htaccess
!/web/favicon.png
!/web/favicon.ico
!/web/robots.txt
!/web/google759a6692f604b417.html
/web/assets/components/
/public
/web/assets/default/scss/.sass-cache/*